footer{
    margin-top: 40px;
    background-color: $footer-color;
    color: $body-text-color-2;
    p{
        margin-bottom: 0px;
        padding-bottom: 35px;
        font-size: 12px;
    }
    .social-media.footer-media{
        margin-top: 0;
        margin-bottom: 22px;
    }
    .footer-logo{
        margin-top: 15px;
        margin-bottom: 18px;
    }
}