.logo{
    margin: 0 auto;
    max-width: 35%;
    margin-top: 30px;
    margin-bottom: 20px;
    
}
.hero-img{
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
}
.title{
    font-family: $title;
    color:$body-text-color;
    margin-top: 46px;
    font-size: 31px;
    
}
.subtitle{
    font-family:$text;
    color:$body-text-color;
    font-weight: 300;
    font-size:12px;
    margin-top: 25px;
    margin-bottom: 22px;;
}
form{
    input{
        background-color: $input-bg-color;
        color:$input-placeholder-color;
        text-align: center;
        padding: 10px;
        height: 40px;
        border: 0px;
        border-radius: 50px;
        font-size:12px;
    }
    #submit-button{
        display:flex;
        justify-content: center;
        width: 100%;
        text-transform: uppercase;
        padding: 10px;
        background-color: $body-text-color;
        border-radius: 50px;
        font-size:12px;
        color: $body-text-color-2;
        margin-top: 14px;
    }

}

.social-media{
    margin-top: 100px;
    margin-bottom: 100px;
    a{
        margin-left: 30px;
        &:first-child{
            margin-left: 0px;
        }
    }
    .scroll{
        margin-top: 25px;
        p{
            color:$body-text-color; 
            text-decoration: underline;
        }
        
    }
    
}

