//import fonts
//Anton and Roboto(all styles)
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
//font vars
$title:'Anton', sans-serif;
$text:'Roboto', sans-serif;

//color vars
$bg-color:#ffffff;
$footer-color:#000000;
$body-text-color:#000000;
$body-text-color-2:#ffffff;
$input-bg-color:#F4F4F4;
$input-placeholder-color: rgba(0,0,0,0.31);


